{% extends 'TimeMoneyApp/base.html' %}
{% block login_block %}
<div class="text-center">

	<!-- TODO fix this hardcode break -->
	<br>
	<br>

	<form class="form-signin" action="{% url 'TimeMoneyApp:user_login' %}" method="POST">
		{% csrf_token %}
      	<h1 class="h3 mb-3 font-weight-normal">Please Login</h1>

		<label class="sr-only" for="username">Username: </label>
		<input class="form-control" type="text" name="username" placeholder="Enter Username" required autofocus>

		<label class="sr-only" for="password">Password: </label>
		<input class="form-control" type="password" name="password" id="" placeholder="Password">

		<input type="submit" value="Login">
	</form>
</div>
{% endblock %}
